{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<head>
	<title>Django HTML</title>
</head>
<body>
	<a href="/reg"> Registration </a> 
	<h2 style="color:purple" title="h2">{{name}}</h2>
	<p title="p,b"><b>CSE at Comilla University</b></p>
<br>

</body>
<a href='/add' style='color:red'> Add two numbers </a><br><br>
<a href="/htm" style="color:green"> html and css </a><br><br>
<a href="/travello" style="color:blue"> travello </a><br><br>
<a href= '/test'> TEST </a>
</html>
{% endblock %}
